/* Responsive Panel de administración */

@media screen and (max-width: 991px){
    .main-containor{
        flex-direction: column;
    }
    .main-containor .item-add{
        width: 85%;
        margin: auto;
    }
    .main-containor .item-list{
        width: 85%;
        margin: 0 auto 50px auto;
        position: relative;
    }
    .refresh{
        top: 10px;
        left: -100px;
    }
    .item-list .item-containor{
        margin: 10px auto;
    }
    .item-containor .text-containor h2{
        font-size: 16px;
    }
    .admin-process .item-list .process-containor .text-containor .info-butt-containor > p{
        font-size: 14px;
    }
    .button-show{
        font-size: 16px;
        width: 80px;
        padding-top: 5px;
    }
    .tooltip .tooltiptext-left{
        left: -260%;
    }
    .main-containor .item-list .marca-containor{
        width: 45%;
        margin: 10px auto;
    }

    /* para ver un servicio */
    /* .buttons-block{
        left: 92%;
        top: 155px;
    } */
    .one-service-edit{
        width: 80%;
    }
    .one-process-edit{
        width: 80%;
    }
    .profile-containor{
        flex-direction: column;
    }
    .profile-containor .profile-edit{
        margin: auto;
        width: 80%;
    }
    .profile-containor .profile-info table{
        width: 100%;
    }
    .profile-containor .password-edit{
        margin: auto;
        width: 80%;
        margin-top: 50px;
    }
    .buttons-logout{
        right: 10px;
        left: unset;
    }
    .admin-categories .item-add .cat-containor{
        width: 80%;
    }
    .admin-categories .item-add .group-categories{
        flex-direction: column;
    }
    .admin-categories .item-add .group-categories .titulo-cat{
        width: 90%;
    }
    .admin-categories .item-add .group-categories .descripcion-cat{
        width: 100%;
    }
    .admin-categories .item-add .group-categories .descripcion-cat .mui-container{
        padding: 0;
        width: 80%;
        margin-right: 20px;
    }
}
@media screen and (max-width: 575px){
    .user-logued > span{
        font-size: 13px;
    }
    .button{
        width: 40px;
        height: 40px;
    }
    .refresh{
        left: -55px;
    }
    .refresh .btn-refresh{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .btn{
        width: 40px;
        height: 40px;
    }
    .button-logout > a{
        padding-top: 0;
    }
    .tooltip .tooltiptext-left {
        left: -310%;
    }
    .button-show{
        width: 80px;
        height: 30px;
        font-size: 13px;
    }
    .item-containor .text-containor h2{
        font-size: 12px;
    }
    .button-cat{
        width: 90px;
    }
    .one-service-containor{
        flex-direction: column;
    }
    .one-service-containor .img-block{
        width: 100%;
        height: 200px;
    }
    .one-service-containor .info-block{
        padding: 10px 20px;
        width: 100%;
    }
    .one-service-containor .info-block h1{
        font-size: 22px;
        margin-top: 0;
    }
    .one-service-containor .info-block .buttons-info{
        align-items: center;
    }
    .one-service-edit form{
        border: 2px solid rgb(230, 230, 230);
        border-radius: 10px;
        padding: 15px;
    }
    .admin-categories .item-add form > legend{
        font-size: 16px;
    }
    .admin-categories .item-add .cat-containor{
        width: 100%;
    }
    .admin-categories .item-add .group-categories .descripcion-cat .mui-container{
        margin-right: 5px;
    }
    .main-containor .item-list .marca-containor{
        width: 90%;
    }
    .admin-blog .item-list .text-containor > h2{
        font-size: 12px;
    }
    .admin-blog .item-list .text-containor > p{
        font-size: 12px;
    }
    .admin-process .item-list .process-containor .text-containor .info-butt-containor > p{
        font-size: 12px;
        height: 50px;
    }
    .admin-process .item-list .process-containor .text-containor > p{
        font-size: 12px;
    }
    .profile-containor .profile-info{
        padding: 0 10px;
    }
    .profile-containor .profile-edit{
        padding: 0 10px;
    }
    .profile-containor .password-edit{
        padding: 0 10px;
    }
}