@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:400,600,700,800|Work+Sans:300,400,500,600,700,800,900");

body {
   margin: 0;
   font-family: "Work Sans", sans-serif;
   font-size: 15px;
   line-height: 26px;
   color: #848484;
   font-weight: 400;
}
a,
a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

/* Footer */

.site-footer {
   background-color: #161827;
   background-repeat: no-repeat;
   background-position: center center;
   padding-top: 70px;
}

.site-footer .main-footer {
   padding-bottom: 80px;
}
.site-footer .main-footer .row{
   display: flex;
   justify-content: space-around;
}

.site-footer .main-footer .container{
   width: 90%;
   margin: auto;
}

.site-footer .footer-widget .footer-widget-title {
   margin-bottom: 33px;
}

.site-footer .footer-widget{
   width: 33%;
}

.site-footer .footer-widget .footer-widget-title h3 {
   margin: 0;
   color: #fff;
   font-size: 24px;
   font-weight: 500;
}

.site-footer .footer-widget p {
   margin: 0;
   color: #B7BBC1;
}

.site-footer .footer-widget .links-lists {
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: -7px;
}

.site-footer .footer-widget .links-lists li + li {
   margin-top: 13px;
}

.site-footer .footer-widget .links-lists a {
   position: relative;
   color: #B7BBC1;
   font-size: 15px;
   padding-left: 12px;
   display: block;
   transition: all .4s ease;
}

.site-footer .footer-widget .links-lists a:hover {
   color: #3ADBEB;
   -webkit-transform: translateX(10px);
   transform: translateX(10px);
}

.site-footer .footer-widget .social-block a {
   display: inline-block;
   vertical-align: middle;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   text-align: center;
   font-size: 14px;
   line-height: 50px;
   color: #C7CACE;
   transition: all .4s ease;
}

.site-footer .footer-widget .social-block a:hover {
   background-color: #3ADBEB;
   color: #fff;
}

.site-footer .footer-widget .social-block a + a {
   margin-left: 1px;
}

.site-footer .footer-widget .newsletter-form p {
   margin-bottom: 25px;
   margin-top: -7px;
}

.site-footer .footer-widget .newsletter-form input[type=text] {
   display: block;
   border: none;
   outline: none;
   background-color: #2e303d;
   color: #B7BBC1;
   width: 100%;
   height: 50px;
   padding-left: 20px;
}

.site-footer .footer-widget .newsletter-form input[type=text]::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: #B7BBC1;
}

.site-footer .footer-widget .newsletter-form input[type=text]::-moz-placeholder {
   /* Firefox 19+ */
   color: #B7BBC1;
}

.site-footer .footer-widget .newsletter-form input[type=text]:-ms-input-placeholder {
   /* IE 10+ */
   color: #B7BBC1;
}

.site-footer .footer-widget .newsletter-form input[type=text]:-moz-placeholder {
   /* Firefox 18- */
   color: #B7BBC1;
}

.site-footer .footer-widget .newsletter-form a {
   cursor: pointer;
   border: none;
   outline: none;
   background-color: #3ADBEB;
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   padding: 12px 30px;
   margin-top: 15px;
}

.site-footer .footer-widget .newsletter-form a:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   width: 0px;
   height: 2px;
   background-color: #fff;
   margin-right: 0px;
   transition: all .4s ease;
}

.site-footer .footer-widget .newsletter-form a:hover::before {
   width: 20px;
   margin-right: 15px;
}

.site-footer .about-widget a.footer-logo {
   margin-bottom: 25px;
   display: inline-block;
   vertical-align: middle;
}

.site-footer .about-widget .social-block {
   margin-top: 42px;
}

.site-footer .links-widget {
   padding-left: 54px;
}

.site-footer .bottom-footer {
   text-align: center;
   padding: 19.5px 0;
   background-color: rgba(255, 255, 255, 0.102);
   box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
}

.site-footer .bottom-footer p {
   margin: 0;
   color: #B7BBC1;
   font-size: 15px;
}

.site-footer .bottom-footer p a {
   color: #FFFFFF;
   transition: all .4s ease;
}

.site-footer .bottom-footer p a:hover {
   color: #3ADBEB;
}

/* Scroll to top */

.scroll-to-top {
   width: 45px;
   height: 45px;
   background: #3ADBEB;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 2000;
   text-align: center;
   transition: all .4s ease;
   /* display: none; */
}

.scroll-to-top i {
   font-size: 18px;
   line-height: 45px;
   color: #fff;
}

.scroll-to-top:hover {
   background: #222222;
}