body{
   font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a,
a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}
textarea{
   font-family: 'Roboto', sans-serif;
}
/* P+agina de inicio */

.admin-main-panel{
   padding: 50px 0;
   width: 100%;
   height: 100%;
   text-align: center;
}
.admin-main-panel h1, p{
   color: #263238;
}

.logo-anim{
   margin: auto;
   margin-bottom: 30px;
   padding-top: 10px;
   position: relative;
   width: 250px;
   height: 100px;
   -webkit-animation: rotateplane .8s infinite linear alternate;
   animation: rotateplane .8s infinite linear alternate;
}
.logo-anim > img{
   width: 100%;
}

@keyframes rotateplane {
   0%{
      transform: scale(1)
   }
   100%{
      transform: scale(1.1)
   }
}

.admin-main-panel h1{
   font-weight: 100;
   font-size: 40px;
   letter-spacing: .5px;
   margin: 30px 0;
}
.admin-main-panel p{
   width: 50%;
   margin: auto;
   line-height: 25px;
}

/* navegador */   

.nav-admin-container{
   background: #263238;
   display: flex;
   justify-content: space-between;
   padding: 0 0 0 5%;
   height: 80px;
}
.nav-admin-container > ul > a{
   display: inline-block;
   /* width: 150px; */
   /* height: 100%; */
   color: aliceblue;
   padding: 0 10px;
   padding-top: 35px;
   transition: all .4s ease-out;
   background: #039BE5;
}
.nav-admin-container > ul .logout{
   background: #d32f2f;
}
.nav-admin-container > ul .logout:hover{
   background: #e53935;
}
.nav-admin-container > ul > a:hover{
   background: #03A9F4;
}
.nav-admin-container > ul{
   list-style: none;
   display: flex;
   position: relative;
   /* left: -100px; */
   margin: 0;
}

.nav-admin-container > .list-a{
   list-style: none;
   display: flex;
   position: relative;
   left: 0px;
   margin: 0;
}

.nav-admin-container > ul > li > a{
   text-align: center;
   display: inline-block;
   width: 100%;
   height: 100%;
   color: aliceblue;
   padding: 0px 15px;
   padding-top: 35px;
   transition: all .4s ease-out;
}
.nav-admin-container > ul > li:hover > .submenu-admin{
   display: block;
   opacity: 1;
}
.nav-admin-container > ul > li > a:hover{
   background: #00E5FF;
}
.nav-admin-container .logo-cont{
   width: 100px;
   padding-top: 10px;
}

.nav-admin-container .logo-cont img{
   width: 100%;
}
.user-logued{
   position: relative;
   top: 20px;
   width: 100%;
   text-align: right;
   padding-right: 20px;
}
.user-logued > span{
   color: #fff;
   font-weight: 500;
   background-color: #007bff;
   padding: 10px;
   border-radius: 50px;
}
.submenu-admin{
   list-style: none;
   background: #37474F;
   position: absolute;
   right: -97px;
   z-index: 1000;
   display: none;
   opacity: 0;
   transition: opacity .4s ease-out;
   transition: display .4s ease-out;
}
.submenu-admin li > a{
   display: inline-block;
   padding: 10px 20px;
   width: 100%;
   height: 100%;
   background: #37474F;
   color: #fff;
   transition: all .4s ease;
}
.submenu-admin li > a:hover{
   background: #00E5FF;
}

/* Servicios */

.main-containor{
   width: 90%;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
}

.main-containor .item-list{
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   height: 100%;
   margin: 0 auto;
}
.main-containor .no-data{
   font-size: 20px;
   font-weight: 200;
   position: relative;
   left: 50px;
   top: 50px;
   color: #b71c1c;
}

.item-list .item-containor{
   width: 95%;
   height: 170px;
   margin: 0 10px 10px 10px;
   padding: 10px;
   /* box-shadow: 0 0 5px 0 black; */
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
   display: flex;
   transition: all 1s linear;
}
/* .content-service{
   height: 100%;
} */

/* marcas */
.main-containor .item-list .marca-containor{
   width: 80%;
   height: 170px;
}
.main-containor .item-list .marca-containor .img-containor{
   width: 60%;
   text-align: center;
}
.main-containor .item-list .marca-containor .img-containor img{
   width: 90%;
}
/* usuarios */

.main-containor .item-list .user-containor{
   height: 70px;
}
.main-containor .item-list .user-containor .text-containor{
   padding-top: 15px;
   width: 100%;
}
.main-containor .item-list .user-containor .text-containor > .user-name{
   display: inline-block;
   font-weight: 600;
   width: 40%;
}
.main-containor .item-list .user-containor .text-containor > .user-email{
   display: inline-block;
   width: 50%;
}
.main-containor .item-list .user-containor .text-containor .buttons-containor{
   bottom: 5px;
}

.item-containor .img-containor{
   width: 100%;
   height: 100%;
   /* border: 1px solid black; */
}
.item-containor .img-containor img{
   width: 100%;
   height: 100%;
}
.item-containor .info-containor{
   width: 70%;
   display: flex;
   align-items: center;
}
.item-containor .text-containor{
   padding: 10px;
   width: 80%;
   position: relative;
   /* border: 1px solid black; */
}
.item-containor .text-containor h2{
   color: #03001b;
   height: 60px;
   font-size: 19px;
   font-weight: 600;
   letter-spacing: .5px;
   /* border: 1px solid black; */
}
.item-containor .text-containor p{
   font-size: 16px;
   font-weight: 100;
   color: rgb(37, 37, 37);
   height: 90px;
   overflow: hidden;
}
.item-containor .buttons-containor{
   display: flex;
   justify-content: center;
   text-align: center;
   position: absolute;
   bottom: 10px;
   right: 10px;
   /* border: 1px solid black; */
}
.button{
   margin: 10px;
   width: 50px;
   height: 50px;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   cursor: pointer;
   transition: all .4s ease-out;
}
.button:hover{
   background: #006064;
}
.button-edit{
   background: #26C6DA;
   color: #fff;
   font-size: 20px;
   padding: 5px 10px;
   text-align: center;
   padding-top: 10px;
}
.button-delete{
   background: #e53935;
   color: #fff;
   font-size: 20px;
   margin: auto;
}
.button-show{
   display: inline-block;
   width: 80px;
   height: 30px;
   background: #e53935;
   color: #fff;
   font-size: 16px;
   background: #26C6DA;
   padding-top: 5px;
   margin: auto;
}
.button-cancel{
   padding-top: 7px;
   text-align: center;
   width: 100%;
   height: 35px;
   margin: 5px 0;
   background: #b71c1c;
   color: #fff;
   font-size: 18px;
}
.button-return{
   background: #26C6DA;
   color: #fff;
   font-size: 20px;
   padding-top: 10px;
   text-align: center;
   margin: 0;
}
.button-cat{
   background: #26C6DA;
   color: #fff;
   font-size: 20px;
   padding-top: 10px;
   text-align: center;
   margin: 0;
}
.buttons-block{
   position: absolute;
   left: 10px;
   top: 190px;
   display: flex;
   flex-direction: column;
}
.buttons-block .tacha{
   transform: rotate(45deg);
}
.main-containor .item-add{
   width: 50%;
   padding: 0 20px;
}
.return{
   position: absolute;
   left: 10px;
}
.main-containor .item-add form{
   padding: 25px;
   display: flex;
   flex-direction: column;
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
}
.form-group{
   display: flex;
   align-items: center;
   padding: 0;
}
.mui-container{
   margin: 10px 0;
   text-align: center;
}
.form-group > span{
   font-size: 20px;
   margin-left: 10px;
}
.form-input{
   margin: 10px 0;
   width: 100%;
   text-align: left;
}

.form-input[type="reset"]{
   background: rgb(128, 128, 128);
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: all .4s ease-out;
}
.form-input[type="reset"]:hover{
   background: #fff;
   border: 1px solid black;
}
#editor-descripcion{
   margin: 10px 0;
}
.button-form{
   font-weight: 700;
}

/* Blog */

.admin-blog .item-list{
   width: 40%;
}
.admin-blog .item-list .blog-containor{
   width: 45%;
   display: block;
   height: 350px;
}
.admin-blog .item-list .img-containor{
   height: 35%;
}
.admin-blog .item-list .text-containor{
   width: 100%;
}
.admin-blog .item-list .text-containor > h2{
   margin-top: 10px;
   font-size: 16px;
   height: 50px;
}
.admin-blog .item-list .text-containor > p{
   margin: 0;
   height: 80px;
   font-size: 14px;
}
.admin-blog .item-add{
   width: 60%;
}
.admin-blog .item-list .buttons-containor{
   width: 100%;
   height: 50px;
   position: relative;
   bottom: 0;
   right: 0;
}

/* PROCESO DE TRABAJO */

.admin-process .item-list .process-containor{
   height: 130px;
}
.admin-process .item-list .process-containor .text-containor{
   padding-top: 15px;
   width: 100%;
   height: 100%;
   display: flex;
}
.admin-process .item-list .process-containor .info-containor{
   width: 100%;
}
.admin-process .item-list .process-containor .text-containor > h2{
   display: inline-block;
   width: 30%;
   margin: 0;
   padding-right: 10px;
}
.admin-process .item-list .process-containor .text-containor .info-butt-containor{
   width: 70%;
   position: relative;
}
.admin-process .item-list .process-containor .text-containor .info-butt-containor > p{
   display: inline-block;
   height: 45px;
   margin: 0;
}
.admin-process .item-list .process-containor .text-containor .info-butt-containor .buttons-containor{
   position: absolute;
   right: -20px;
   bottom: -20px;
}
.admin-process .item-list .product-containor{
   height: 180px;
}
.admin-process .item-list .product-containor .text-containor .info-butt-containor .inner-info{
   overflow: hidden;
   height: 100px;
}
/* .admin-process .item-list .process-containor .buttons-containor{
   width: 15%;
   align-items: center;
} */

/* Historia */

.admin-history .item-list .history-containor{
   height: 100%;
}
.admin-history .item-list .history-containor .info-containor{
   width: 100%;
}
.admin-history .item-list .history-containor .info-containor .text-containor{
   width: 100%;
}
.admin-history .item-list .history-containor .inner-info h1,
.admin-history .item-list .history-containor .inner-info h2,
.admin-history .item-list .history-containor .inner-info h3,
.admin-history .item-list .history-containor .inner-info p,
.admin-history .item-list .history-containor .inner-info a,
.admin-history .item-list .history-containor .inner-info img{
   margin: auto;
}

.containor-full{
   width: 100%;
}
/* Categorias */

.admin-categories .item-add {
   width: 80%;
   margin: 40px auto;
}
.admin-categories .item-add form{
   padding: 25px;
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
   position: relative;
}
.admin-categories .item-add form > legend{
   margin-bottom: 50px;
}
.admin-categories .item-add .group{
   width: 40%;
   text-align: left;
}
.admin-categories .item-add .group-categories{
   position: relative;
   display: flex;
   justify-content: space-between;
}
.admin-categories .item-add .group-categories .form-input{
   width: 20%;
   margin-right: 20px;
}
.admin-categories .item-add .group-categories .mui-container{
   width: 60%;
}
.admin-categories .item-add form .add{
   display: inline-block;
   width: 50px;
   height: 50px;
   background: #03A9F4;
   border-radius: 50px;
   font-size: 30px;
   text-align: center;
   padding-top: 5px;
   cursor: pointer;
   color: #fff;
   /* position: absolute;
   right: 70px;
   top: 100px; */
}
.admin-categories .item-add form .added{
   margin-top: 10px;
}
.admin-categories .item-add form .remove{
   display: inline-block;
   width: 50px;
   height: 50px;
   background: #e53935;
   border-radius: 50px;
   font-size: 30px;
   text-align: center;
   padding-top: 5px;
   cursor: pointer;
   color: #fff;
}
.admin-categories .item-add .cat-containor{
   width: 40%;
   padding: 5px 15px;
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.admin-categories .item-add .cat-containor > div{
   display: flex;
   align-items: center;
}
/* Uploader */

.subir{
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   background-color: #039BE5;
   display: inline-block;
   transition: all .5s;
   cursor: pointer;
   padding: 15px 40px !important;
   text-transform: uppercase;
   width: fit-content;
   text-align: center;
}

.subir:hover{
   color:#fff;
   background: #00ACC1;
}
.info{
   display: inline;
}
#file-upload{
   display: none;
}
.upload{
   margin: 10px 0;
}

/* mostrar un solo servicio */

.one-service-containor{
   width: 80%;
   margin: 50px auto;
   display: flex;
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
   padding: 10px;
}
.one-service-containor .img-block{
   /* border: 1px solid black; */
   width: 40%;
   height: 100%;
   padding: 5px;
}
.one-service-containor .img-block img{
   width: 100%;
   height: 100%;
}
.one-service-containor .info-block{
   width: 60%;
   padding: 50px;
   /* border: 1px solid black; */
}
.one-service-containor .info-block h1{
   font-size: 38px;
   font-weight: 100;
}
.one-service-containor .info-block h1, p{
   margin-bottom: 20px;
}
.one-service-containor .info-block .buttons-info{
   text-align: right;
   margin-top: 50px;
}
.one-service-containor .info-block .buttons-info-cat{
   text-align: right;
}
.one-service-edit{
   width: 50%;
   margin: auto;
}
.one-service-edit h1{
   font-weight: 100;
}
.one-service-edit form{
   display: flex;
   flex-direction: column;
}

#serv-edit{
   display: none;
   margin-top: 50px;
}

.one-process-edit{
   width: 40%;
   margin: 50px auto;
}
.one-process-edit form{
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
   padding: 25px;
   display: flex;
   flex-direction: column;
}
.one-history-edit{
   width: 70%;
}

/* para vista previa imagen */

#show-img{
   width: 70%;
   background: #CFD8DC;
   height: 200px;
   margin: 10px auto;
}
#img{
   width: 100%;
   height: 100%;
}

/* Perfil */

.profile-containor{
   width: 100%;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   position: relative;
}
.profile-containor .profile-info{
   width: 80%;
   margin: 0 auto;
   padding: 0 100px;
}
.profile-containor .profile-info h1{
   font-size: 22px;
}
.profile-containor .profile-info table{
   width: 100%;
}
.profile-containor .profile-info table th{
   text-align: left;
   width: 50%;
   padding-left: 10px;
}
.profile-containor .profile-info table td{
   text-align: left;
   width: 50%;
   padding-left: 10px;
}
.profile-containor .profile-info table tr{
   height: 45px;
}
.profile-containor .profile-info table tr:nth-child(even){
   background-color: rgb(223, 245, 255);
}
.profile-containor .profile-info table tr:nth-child(odd){
   background-color: rgb(112, 243, 255);
}
.profile-containor .profile-edit{
   display: none;
   opacity: 0;
   transition: display 2s ease-in;
   width: 70%;
   padding: 0 100px;
   /* transition: display .4s ease-in; */
}
.profile-containor .profile-edit > form{
   padding: 25px;
   display: flex;
   flex-direction: column;
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
}
.profile-containor .password-edit{
   display: none;
   opacity: 0;
   transition: display 2s ease-in;
   width: 70%;
   padding: 0 100px;
   /* transition: display .4s ease-in; */
}
.profile-containor .password-edit > form{
   padding: 25px;
   display: flex;
   flex-direction: column;
   border: 2px solid rgb(230, 230, 230);
   border-radius: 10px;
}


/* para editar servicio imagen vista previa */

/* Boton de actualizar lista */

.refresh{
   position: absolute;
   top: 190px;
   left: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.refresh .btn-refresh{
   width: 50px;
   height: 50px;
   border: none;
   background: #26C6DA;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   border-radius: 5px;
}

.tooltip {
   position: relative;
   display: inline-block;
 }
 
 .tooltip .tooltiptext-right {
    font-size: 14px;
   background-color: #555;
   color: #fff;
   visibility: hidden;
   width: 120px;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   top: 8px;
   left: 105%;
 }
 .tooltip .tooltiptext-top{
   font-size: 14px;
   background-color: #555;
   color: #fff;
   visibility: hidden;
   width: 120px;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   bottom: 115%;
   left: 50%;
   margin-left: -60px;
 }
 
 .tooltip:hover .tooltiptext-right {
   visibility: visible;
   opacity: 1;
 }
 .tooltip:hover .tooltiptext-top {
   visibility: visible;
   opacity: 1;
 }

 /* PRELOADER */

.preloader{
   font-size: 20px;
   color: #039BE5;
   position: relative;
   left: 50px;
   top: 50px;
}
.pre-inicio{
   left: 0;
}
.pre-categorias{
   top: 0;
}
/* ERRORES */

.errors-containor .error-text{
   color: #b71c1c;
   padding: 15px;
   background: #ffcdd2;
   border-radius: 5px;
   border: 1px solid #f44336;
}

/* botones de cerrar sesion e ir a pro system */

.buttons-logout{
   position: fixed;
   bottom: 20px;
   left: 10px;
   display: flex;
   flex-direction: column;
}
.btn{
   width: 50px;
   height: 50px;
   margin: 5px 0;
   border: none;
   border-radius: 5px;
}
.btn a{
   display: inline-block;
   width: 100%;
   height: 100%;
   padding: 5px;
}
.go-prosystem{
   background: #039BE5;
   opacity: .5;
   transition: all .5s ease;
}
.go-prosystem:hover{
   background: #2196F3;
   opacity: 1;
}
.go-prosystem img{
   width: 100%;
   height: 100%;
   filter: brightness(0) invert(1);
}
.button-logout{
   background: #b71c1c;
   opacity: .5;
   transition: all .5s ease;
}
.button-logout:hover{
   background: #d50000;
   opacity: 1;
}
.button-logout i{
   font-size: 30px;
   margin: 5px auto;
   color: #fff;
}
.column{
   display: flex;
   flex-direction: column;
}
.warning-label{
   background: #ffc107;
   border-radius: 50px;
   font-weight: 500;
   padding: 10px;
}